@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gorgita-regular';
  src: url('/fonts/main/gordita-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gorgita-medium';
  src: url('/fonts/main/gordita-medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'unbounded-light';
  src: url('/fonts/main/unbounded-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'unbounded-medium';
  src: url('/fonts/main/unbounded-medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .conteiner-custom {
    max-width: 1220px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    .conteiner-custom {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
